body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #ffc1cc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.soprano {
    background-color: #F986BD;
    border-radius: 50%;
	width: 90px;
	height: 90px; 
}

.alto {
    background-color: #F15278;
    border-radius: 50%;
	width: 90px;
	height: 90px; 
}

.tenor {
    background-color: #FC46AA;
    border-radius: 50%;
	width: 90px;
	height: 90px; 
}

.bass {
    background-color: #DC1884;
    border-radius: 50%;
	width: 90px;
	height: 90px; 
}

/***************************************
    BASS
****************************************/
/*#bass-1{
  
}
#bass-2{
    -webkit-animation-delay: .15s;
}
#bass-3{
    -webkit-animation-delay: .25s;
}
#bass-4{
    -webkit-animation-delay: .35s;
}
#bass-5{
    -webkit-animation-delay: .45s;
}
#bass-6{
    -webkit-animation-delay: .55s;
}
#bass-7{
    -webkit-animation-delay: .65s;
}
#bass-8{
    -webkit-animation-delay: .75s;
}
#bass-9{
    -webkit-animation-delay: .85s;
}
#bass-10{
    -webkit-animation-delay: .95s;
}
#bass-11{
    -webkit-animation-delay: 1.05s;
}
#bass-12{
    -webkit-animation-delay: 1.15s;
}
#bass-13{
    -webkit-animation-delay: 2.35s;
}
#bass-14{
    -webkit-animation-delay: 2.25s;
}
#bass-15{
    -webkit-animation-delay: 1.35s;
}
#bass-16{
    -webkit-animation-delay: 1.25s;
}
#bass-17{
    -webkit-animation-delay: 2.45s;
}
#bass-18{
    -webkit-animation-delay: 2.55s;
}
#bass-19{
    -webkit-animation-delay: 3.45s;
}
#bass-20{
    -webkit-animation-delay: 3.55s;
}
#bass-21{
    -webkit-animation-delay: 4.75s;
}
#bass-22{
    -webkit-animation-delay: 4.65s;
}
#bass-23{
    -webkit-animation-delay: 3.75s;
}
#bass-24{
    -webkit-animation-delay: 3.65s;
}
#bass-25{
    -webkit-animation-delay: 4.85s;
}
#bass-26{
    -webkit-animation-delay: 4.95s;
}
#bass-27{
    -webkit-animation-delay: 5.85s;
}
#bass-28{
    -webkit-animation-delay: 5.95s;
}
#bass-29{
    -webkit-animation-delay: 7.15s;
}
#bass-30{
    -webkit-animation-delay: 7.05s;
}
#bass-31{
    -webkit-animation-delay: 6.15s;
}
#bass-32{
    -webkit-animation-delay: 6.05s;
}
#bass-33{
    -webkit-animation-delay: .04s;
}
#bass-34{
    -webkit-animation-delay: 4.32s;
}
#bass-35{
    -webkit-animation-delay: 5.55s;
}
#bass-36{
    -webkit-animation-delay: 1.03s;
}
#bass-37{
    -webkit-animation-delay: 2.08s;
}
#bass-38{
    -webkit-animation-delay: 2.3s;
}
#bass-39{
    -webkit-animation-delay: 4.9s;
}
#bass-40{
    -webkit-animation-delay: 4.8s;
}
#bass-41{
    -webkit-animation-delay: 3.6s;
}
#bass-42{
    -webkit-animation-delay: 3.7s;
}
#bass-43{
    -webkit-animation-delay: 3.7s;
}
#bass-44{
    -webkit-animation-delay: 3.6s;
}
#bass-45{
    -webkit-animation-delay: 3.5s;
}
#bass-46{
    -webkit-animation-delay: 3.4s;
}
#bass-47{
    -webkit-animation-delay: 2.5s;
}
#bass-48{
    -webkit-animation-delay: 2.4s;
}
#bass-49{
    -webkit-animation-delay: 1.2s;
}
#bass-50{
    -webkit-animation-delay: 1.3s;
}
#bass-51{
    -webkit-animation-delay: 2.2s;
}
#bass-52{
    -webkit-animation-delay: 2.2s;
}
#bass-53{
    
}
#bass-54{
    
}
#bass-55{
    
}
#bass-56{
    
}
#bass-57{
    
}
#bass-58{
    
}
#bass-59{
    
}
#bass-60{
    
}
#bass-61{
    
}
#bass-62{
    
}
#bass-63{
   
}
#bass-64{
    
}

/***************************************
    TENOR
****************************************/
/*#tenor-1 {
    -webkit-animation-delay: 2.25s;
}
#tenor-2 {
     -webkit-animation-delay: 2.15s;
}
#tenor-3 {
     -webkit-animation-delay: 2.05s;
}
#tenor-4 {
     -webkit-animation-delay: 1.95s;
}
#tenor-5 {
     -webkit-animation-delay: 1.85s;
}
#tenor-6 {
     -webkit-animation-delay: 1.75s;
}
#tenor-7 {
     -webkit-animation-delay: 1.65s;
}
#tenor-8 {
     -webkit-animation-delay: 1.55s;
}
#tenor-8{
     -webkit-animation-delay: 1.45s;
}
#tenor-9{
     -webkit-animation-delay: 2.75s;
}
#tenor-10 {
     -webkit-animation-delay: 2.85s;
}
#tenor-11 {
     -webkit-animation-delay: 3.35s;
}
#tenor-12 {
     -webkit-animation-delay: 3.45s;
}
#tenor-13 {
     -webkit-animation-delay: 4.65s;
}
#tenor-14 {
     -webkit-animation-delay: 5.5s;
}
#tenor-15 {
     -webkit-animation-delay: 1s;
}
#tenor-16 {
     -webkit-animation-delay: 2s;
}
#tenor-17 {
     -webkit-animation-delay: 4.4s;
}
#tenor-18 {
     -webkit-animation-delay: 4.97s;
}
#tenor-19 {
     -webkit-animation-delay: .039s;
}
#tenor-20 {
     -webkit-animation-delay: 5.6s;
}
#tenor-21 {
     -webkit-animation-delay: .4s;
}
#tenor-22 {
     -webkit-animation-delay: 7s;
}
#tenor-23 {
     -webkit-animation-delay: 5.5s;
}
#tenor-24 {
     -webkit-animation-delay: 3.22s;
}
#tenor-25 {
     -webkit-animation-delay: 2.9s;
}
#tenor-26 {
     -webkit-animation-delay: 7.54s;
}
#tenor-27 {
     -webkit-animation-delay: 4.44s;
}
#tenor-28 {
     -webkit-animation-delay: 1.98s;
}
#tenor-29 {
     -webkit-animation-delay: 6.65s;
}
#tenor-30 {
     -webkit-animation-delay: 5.99s;
}
#tenor-31 {
     -webkit-animation-delay: 5.1s;
}
#tenor-32 {
     -webkit-animation-delay: 5s;
}
#tenor-33 {
     -webkit-animation-delay: 3.8s;
}
#tenor-34 {
     -webkit-animation-delay: 3.9s;
}
#tenor-35 {
     -webkit-animation-delay: 4.4s;
}
#tenor-36 {
     -webkit-animation-delay: 4.5s;
}
#tenor-37 {
     -webkit-animation-delay: 3.3s;
}
#tenor-38 {
     -webkit-animation-delay: 3.2s;
}
#tenor-39 {
     -webkit-animation-delay: 2.7s;
}
#tenor-40 {
     -webkit-animation-delay: 2.6s;
}
#tenor-41 {
     -webkit-animation-delay: 1.4s;
}
#tenor-42 {
     -webkit-animation-delay: 1.5s;
}
#tenor-43 {
     -webkit-animation-delay: 1.6s;
}
#tenor-44 {
     -webkit-animation-delay: 1.7s;
}
#tenor-45 {
     -webkit-animation-delay: 1.8s;
}
#tenor-46 {
     -webkit-animation-delay: 1.9s;
}
#tenor-47 {
     -webkit-animation-delay: 2s;
}
#tenor-48 {
     -webkit-animation-delay: 2.1s;
}*/
/***************************************
    ALTO
****************************************/
/*#alto-1{
     -webkit-animation-delay: 2s;
}
#alto-2 {
     -webkit-animation-delay: 6.54s;
}
#alto-3 {
     -webkit-animation-delay: 4.02s;
}
#alto-4 {
     -webkit-animation-delay: 2.98s;
}
#alto-5 {
     -webkit-animation-delay: 5.93s;
}
#alto-6{
     -webkit-animation-delay: 6.88s;
}
#alto-7 {
     -webkit-animation-delay: 3.32s;
}
#alto-8 {
     -webkit-animation-delay: 4s;
}
#alto-9 {
     -webkit-animation-delay: 4.78s;
}
#alto-10 {
     -webkit-animation-delay: 5.65s;
}
#alto-11 {
     -webkit-animation-delay: 1s;
}
#alto-12 {
     -webkit-animation-delay: 7s;
}
#alto-13 {
     -webkit-animation-delay: 3.33s;
}
#alto-14 {
     -webkit-animation-delay: 5.2s;
}
#alto-15 {
     -webkit-animation-delay: 4s;
}
#alto-16 {
     -webkit-animation-delay: 4.3s;
}
#alto-17 {
     -webkit-animation-delay: 3.1s;
}
#alto-18 {
     -webkit-animation-delay: 3s;
}
#alto-19 {
     -webkit-animation-delay: 2.9s;
}
#alto-20 {
     -webkit-animation-delay: 2.8s;
}*/
/***************************************
    SOPRANO
****************************************/
/*#soprano-1 {
     -webkit-animation-delay: 1s;
}
#soprano-2 {
     -webkit-animation-delay: 5.32s;
}
#soprano-3 {
     -webkit-animation-delay: 6.44s ;
}
#soprano-4 {
     -webkit-animation-delay: 4.29s;
}
#soprano-5 {
     -webkit-animation-delay: 7s;
}
#soprano-6 {
     -webkit-animation-delay: 1.03s;
}
#soprano-7 {
     -webkit-animation-delay: 6.29s;
}
#soprano-8 {
     -webkit-animation-delay: 3s;
}
#soprano-9 {
     -webkit-animation-delay: 5.4s;
}
#soprano-10 {
     -webkit-animation-delay: 5.3s;
}
#soprano-11 {
     -webkit-animation-delay: 4.1s;
}
#soprano-12 {
     -webkit-animation-delay: 4.2s;
} */
