@{
    ViewBag.Title = "Bubble Gum";
}

<html>
    <head> 
       <audio src="~/Content/Music/Barbatuques-Barbapapa_s_Groove.mp3" autoplay>
            <p>If you are reading this, it is because your browser does not support the audio element.</p>
            <embed src="~/Content/Music/Barbatuques-Barbapapa_s_Groove.mp3" width="180" height="90" hidden="true" />
        </audio> 
        <link rel="stylesheet" href="~/Content/animate.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />
    </head>
    <body>   
        <div name="row-1">
            <div class="bass column-1 col-xs-1" id="bass-1"></div>
            <div class="bass column-2 col-xs-1" id="bass-2"></div>
            <div class="bass column-3 col-xs-1" id="bass-3"></div>
            <div class="bass column-4 col-xs-1" id="bass-4"></div>
            <div class="bass column-5 col-xs-1" id="bass-5"></div>
            <div class="bass column-6 col-xs-1" id="bass-6"></div>
            <div class="bass column-7 col-xs-1" id="bass-7"></div>
            <div class="bass column-8 col-xs-1" id="bass-8"></div>
            <div class="bass column-9 col-xs-1" id="bass-9"></div>
            <div class="bass column-10 col-xs-1" id="bass-10"></div>
            <div class="bass column-11 col-xs-1" id="bass-11"></div>
            <div class="bass column-12 col-xs-1" id="bass-12"></div>
        </div>   
        <div name="row-2">
            <div class="bass column-1 col-xs-1" id="bass-13"></div>
            <div class="bass column-2 col-xs-1" id="bass-14"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-1"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-2"></div>
            <div class="tenor column-5 col-xs-1" id="tenor-3"></div>
            <div class="tenor column-6 col-xs-1" id="tenor-4"></div>
            <div class="tenor column-7 col-xs-1" id="tenor-5"></div>
            <div class="tenor column-8 col-xs-1" id="tenor-6"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-7"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-8"></div>
            <div class="bass column-11 col-xs-1" id="bass-15"></div>
            <div class="bass column-12 col-xs-1" id="bass-16"></div>
        </div>   
        <div name="row-3">
            <div class="bass column-1 col-xs-1" id="bass-17"></div>
            <div class="bass column-2 col-xs-1" id="bass-18"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-9"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-10"></div>
            <div class="alto column-5 col-xs-1" id="alto-1"></div>
            <div class="alto column-6 col-xs-1" id="alto-2"></div>
            <div class="alto column-7 col-xs-1" id="alto-3"></div>
            <div class="alto column-8 col-xs-1" id="alto-4"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-11"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-12"></div>
            <div class="bass column-11 col-xs-1" id="bass-19"></div>
            <div class="bass column-12 col-xs-1" id="bass-20"></div>
        </div>   
        <div name="row-4">
            <div class="bass column-1 col-xs-1" id="bass-21"></div>
            <div class="bass column-2 col-xs-1" id="bass-22"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-13"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-14"></div>
            <div class="alto column-5 col-xs-1" id="alto-5"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-1"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-2"></div>
            <div class="alto column-8 col-xs-1" id="alto-6"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-15"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-16"></div>
            <div class="bass column-11 col-xs-1" id="bass-23"></div>
            <div class="bass column-12 col-xs-1" id="bass-24"></div>
        </div>   
        <div name="row-5">
            <div class="bass column-1 col-xs-1" id="bass-25"></div>
            <div class="bass column-2 col-xs-1" id="bass-26"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-17"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-18"></div>
            <div class="alto column-5 col-xs-1" id="alto-7"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-3"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-4"></div>
            <div class="alto column-8 col-xs-1" id="alto-8"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-19"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-20"></div>
            <div class="bass column-11 col-xs-1" id="bass-27"></div>
            <div class="bass column-12 col-xs-1" id="bass-28"></div>
        </div>   
        <div name="row-6">
            <div class="bass column-1 col-xs-1" id="bass-29"></div>
            <div class="bass column-2 col-xs-1" id="bass-30"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-21"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-22"></div>
            <div class="alto column-5 col-xs-1" id="alto-9"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-5"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-6"></div>
            <div class="alto column-8 col-xs-1" id="alto-10"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-23"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-24"></div>
            <div class="bass column-11 col-xs-1" id="bass-31"></div>
            <div class="bass column-12 col-xs-1" id="bass-32"></div>
        </div>   
        <div name="row-7">
            <div class="bass column-1 col-xs-1" id="bass-33"></div>
            <div class="bass column-2 col-xs-1" id="bass-34"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-25"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-26"></div>
            <div class="alto column-5 col-xs-1" id="alto-11"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-7"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-8"></div>
            <div class="alto column-8 col-xs-1" id="alto-12"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-27"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-28"></div>
            <div class="bass column-11 col-xs-1" id="bass-35"></div>
            <div class="bass column-12 col-xs-1" id="bass-36"></div>
        </div>   
        <div name="row-8">
            <div class="bass column-1 col-xs-1" id="bass-37"></div>
            <div class="bass column-2 col-xs-1" id="bass-38"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-29"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-30"></div>
            <div class="alto column-5 col-xs-1" id="alto-13"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-9"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-10"></div>
            <div class="alto column-8 col-xs-1" id="alto-14"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-31"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-32"></div>
            <div class="bass column-11 col-xs-1" id="bass-39"></div>
            <div class="bass column-12 col-xs-1" id="bass-40"></div> 
        </div>   
        <div name="row-9">
            <div class="bass column-1 col-xs-1" id="bass-41"></div>
            <div class="bass column-2 col-xs-1" id="bass-42"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-33"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-34"></div>
            <div class="alto column-5 col-xs-1" id="alto-15"></div>
            <div class="soprano column-6 col-xs-1" id="soprano-11"></div>
            <div class="soprano column-7 col-xs-1" id="soprano-12"></div>
            <div class="alto column-8 col-xs-1" id="alto-16"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-35"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-36"></div>
            <div class="bass column-11 col-xs-1" id="bass-43"></div>
            <div class="bass column-12 col-xs-1" id="bass-44"></div>
        </div>   
        <div name="row-10">
            <div class="bass column-1 col-xs-1" id="bass-45"></div>
            <div class="bass column-2 col-xs-1" id="bass-46"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-37"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-38"></div>
            <div class="alto column-5 col-xs-1" id="alto-17"></div>
            <div class="alto column-6 col-xs-1" id="alto-18"></div>
            <div class="alto column-7 col-xs-1" id="alto-19"></div>
            <div class="alto column-8 col-xs-1" id="alto-20"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-39"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-40"></div>
            <div class="bass column-11 col-xs-1" id="bass-47"></div>
            <div class="bass column-12 col-xs-1" id="bass-48"></div>
        </div>   
        <div name="row-11">
            <div class="bass column-1 col-xs-1" id="bass-49"></div>
            <div class="bass column-2 col-xs-1" id="bass-50"></div>
            <div class="tenor column-3 col-xs-1" id="tenor-41"></div>
            <div class="tenor column-4 col-xs-1" id="tenor-42"></div>
            <div class="tenor column-5 col-xs-1" id="tenor-43"></div>
            <div class="tenor column-6 col-xs-1" id="tenor-44"></div>
            <div class="tenor column-7 col-xs-1" id="tenor-45"></div>
            <div class="tenor column-8 col-xs-1" id="tenor-46"></div>
            <div class="tenor column-9 col-xs-1" id="tenor-47"></div>
            <div class="tenor column-10 col-xs-1" id="tenor-48"></div>
            <div class="bass column-11 col-xs-1" id="bass-51"></div>
            <div class="bass column-12 col-xs-1" id="bass-52"></div>  
        </div>   
        <div name="row-12">
            <div class="bass column-1 col-xs-1" id="bass-53"></div>
            <div class="bass column-2 col-xs-1" id="bass-54"></div>
            <div class="bass column-3 col-xs-1" id="bass-55"></div>
            <div class="bass column-4 col-xs-1" id="bass-56"></div>
            <div class="bass column-5 col-xs-1" id="bass-57"></div>
            <div class="bass column-6 col-xs-1" id="bass-58"></div>
            <div class="bass column-7 col-xs-1" id="bass-59"></div>
            <div class="bass column-8 col-xs-1" id="bass-60"></div>
            <div class="bass column-9 col-xs-1" id="bass-61"></div>
            <div class="bass column-10 col-xs-1" id="bass-62"></div>
            <div class="bass column-11 col-xs-1" id="bass-63"></div>
            <div class="bass column-12 col-xs-1" id="bass-64"></div>
        </div>  

        @*************************************************
            Start the script animation
         **************************************************@
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript">
            var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
            $(function () {
                $('.bass, .tenor, .alto, .soprano').addClass('animated bounceInDown').one(animationEnd, function () {
                    $(this).removeClass('animated bounceInDown').addClass('animated shake');
                });
            });

        </script> 
    </body>
</html>